* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 31, 92, 0.61);
  background-image: url("../img/battleship.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  overflow: hidden;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.messages-box {
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
  z-index: 2;
}
.message {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: font-size 0.3s ease-out 0s;
}
h1.title {
  font-family: "Playwrite US Trad", cursive;
  font-size: 2.8rem;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 10px 10px 10px #070529;
}

#footer {
  background-color: rgba(0, 0, 0, 0.92);
  bottom: 0;
  height: 10vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0.5em;
  font-size: 1.4rem;
  font-family: "Niramit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.gh-logo {
  width: 45px;
  height: 45px;
}

a.gh-link {
  text-decoration: none;
  color: #ffffff;
  line-height: 40px;
  font-size: 1.5rem;
}

span.author {
  text-decoration: underline;
}

span.author:hover {
  color: lightblue;
}

#game {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 2em;
}

.player-container,
.computer-container,
.player-counter,
.computer-counter {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.player-title,
.computer-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

#player-board,
#computer-board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  align-content: stretch;
  justify-items: stretch;
}

.box {
  display: flex;
  flex-direction: row;
}

.numbers-header,
.numbers-header {
  display: grid;
  grid-template-columns: 30px;
  grid-template-rows: repeat(10, 30px);
  font-size: 1rem;
}
.letters-header,
.letters-header {
  display: grid;
  grid-template-columns: repeat(11, 30px);
  grid-template-rows: 30px;
  font-size: 1rem;
  align-items: stretch;
  justify-content: stretch;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number,
.letter {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.water {
  background-color: rgba(8, 38, 83, 0.756);
  border: 1px solid #ffffff;
  cursor: pointer;
}

.ship {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.missed {
  border: 1px solid #ffffff;
  background-color: gray;
}

.touched {
  border: 1px solid #ffffff;
  background-color: red;
}

.player-container {
  display: flex;
  flex-direction: column;
}

.player-counter {
  align-items: start;
  gap: 1em;
  margin-top: 4em;
}
.computer-counter {
  align-items: end;
  gap: 1em;
  margin-top: 4em;
}
.counter {
  display: flex;
  gap: 0.5em;
}
.square {
  height: 1em;
  width: 1em;
  background-color: #13e621;
  border-radius: 20px 0 20px 0;
}

#user-dialog {
  width: 40%;
  overflow: hidden;
  border: none;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
}

#place-ship-dialog {
  overflow: hidden;
  border: none;
  position: relative;
  top: 20%;
  left: 50%;
  border-radius: 18px;
}

#user-form,
#place-form {
  font-family: "Niramit", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

#user-dialog::backdrop,
#place-ship-dialog::backdrop {
  background: linear-gradient(
    53deg,
    rgba(9, 0, 134, 0.625) 48%,
    rgba(0, 198, 255, 1) 93%
  );
}

.form-title {
  font-size: 2rem;
  text-align: center;
  font-family: "Niramit", sans-serif;
  font-weight: 700;
}

.select-group legend,
.select-group select,
.text-group legend {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.6em;
}

.select-group,
.text-group {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.6em;
}

.select-group label {
  font-size: 1.3rem;
  font-weight: 300;
}

.text-group > label {
  padding: 0.3em 0.3em;
  font-size: 1.3rem;
  font-weight: 300;
}

.text-group > input {
  width: 56%;
  height: 4vh;
  font-size: 1.3rem;
  padding-left: 0.3em;
  border-radius: 8px;
}

.buttons-group {
  display: flex;
  justify-content: end;
  gap: 1em;
}
#reset,
#start {
  width: 8vw;
  height: 4vh;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  transition:
    transform 0.15s,
    background-color 0.3s,
    color 0.06s 0.15s,
    ease-out 0.25s;
}

#reset {
  background-color: #a82727;
  color: #ffffff;
}

#start {
  background-color: #49a827;
  color: #ffffff;
}

#reset:hover {
  background-color: #dc2222c1;
  color: #000000;
  transform: scale(1.1);
}

#start:hover {
  background-color: #4de464;
  color: #000000;
  transform: scale(1.1);
}

.settings-logo {
  height: 25px;
  width: 25px;
}
.game-controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;
  height: 10vh;
}

.game-controllers > button {
  position: relative;
  width: 170px;
  height: 50px;
  font-family: "Niramit", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transform: translateY(-800px);
  transition: transform 0.3s ease-out 0.15s;
  transition: opacity 0.3a ease-out 0.15s;
  will-change: transform;
  z-index: 1;
}



button#place-normal-ships {
  background-color: #1ca986;
  color: #ffffff;
}

button#place-normal-ships:hover {
  background-color: #1ca986a3;
  color: #ffffff;
  font-weight: bold;
}
button#place-random-ships {
  background-color: #1d4bf0;
  color: #ffffff;
}

button#place-random-ships:hover {
  background-color: rgba(30, 75, 241, 0.647);
  color: #ffffff;
  font-weight: bold;
}

button#reset-game {
  background-color: #ff0000b2;
  color: #ffffff;
}
button#reset-game:hover {
  background-color: hsla(0, 100%, 50%, 0.488);
  color: #ffffff;
  font-weight: bold;
}


.ship-wheel-icon,
.movie-roll-icon,
.power-off-icon {
  height: 3vh;
  width: 3vw;
}

.ship-features-container,
.ship-features-container select,
.ship-features-container input {
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#confirm {
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  border: none;
  background-color: #1ca986;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

#cancel {
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  border: none;
  background-color: #a9281c;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
